@import '~office-ui-fabric-react/dist/sass/References.scss';
@import 'https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800&display=swap';

:global {
  .ControlZone--emphasisBackground {
    background-color: transparent !important;
  }
}

.recentNews {
  font-family: 'Poppins', sans-serif;


  h3 {
    font-size: 20px;
    background-color: #63a4ce;
    text-align: left;
    border-radius: 12px 12px 1px 1px;
    color: #fff;
    margin: 0 calc(20% - 2px) -13px calc(20% - 2px);
    padding: 6px calc(3% - 2px);
    z-index: 999;
    position: relative;
    font-weight: 400;
  }

  ul {

    background-color: #fff;
    display: block;
    padding: 0%;
    margin-left: calc(20% - 2px);
    margin-right: calc(20% - 2px);
    border-radius: 0 0 10px 10px;
    border-top: 0px solid #eee;
    border-bottom: 1px solid #eee;
    border-left: 1px solid #eee;
    border-right: 1px solid #eee;
  }

  ul li {

    list-style-type: none;
    margin: 0% 0px 0px;
    padding: 0% 4% 7px;
    border-radius: 2px;
    border-bottom: 1px solid #eee;
  }

  ul li a {
    text-decoration: none;
    color: inherit;
  }

  ul li span {
    // background-color: #1f2553;
    // float: left;
    // width: 46px;
    // text-align: center;
    // padding: 1%;
    // color: #fff;
    // margin: 0 10px 0 0;
    // height: 41px;
    // font-size: 13px;
    font-weight: 500;
  }

  ul li:nth-child(even) span {
    // background: #1f2553;
  }

  ul li span b {
    display: block;
    font-weight: 400;
  }

  ul li strong {
    display: block;
    // float: right;
    font-size: 14px;
    padding: 10px 0%;
  }

  ul li em {
    font-style: normal;
    font-size: 15px;
  }




  .clear {
    clear: both;
  }


  .loader {
    text-align: center;
    justify-content: center;
  }

  .error {
    color: #721c24;
    background-color: #f8d7da;
    border: 1px solid #fc9fa9;
    padding: 10px;
    border-radius: 5px;
  }
}
