@import '~office-ui-fabric-react/dist/sass/References.scss';

:global {
  #workbenchPageContent,
  .CanvasComponent.LCS .CanvasZone {
    max-width: 100% !important;
  }
}

.sliderWidget {
  margin: 0;

  .carouselImageContent {
    height: 400px;
    width: 100%;

    div[class*='details'] {
      top: 70% !important;
      height: 30% !important;
    }

  }
}
