@import '~office-ui-fabric-react/dist/sass/References.scss';

.sliderWidget {
  margin: 0;

  .carouselImageContent {
    height: 400px;
    width: 100%;

    div[class*='details'] {
      top: 70% !important;
      height: 30% !important;
    }

  }
}
