@import '~office-ui-fabric-react/dist/sass/References.scss';
@import 'https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800&display=swap';



.spFxHeader {
  font-family: 'Poppins', sans-serif;

  header {
    width: 100%;
    background-color: #1f2553;
  }

  .logo {
    float: right;
    margin-right: 5px;
    a{
      text-decoration: none;

      img {
      height: 30px;
      }
    }
   
  }

}


.clear {
  clear: both;
}



:global {

  #O365_NavHeader,
  #O365_NavHeader .o365sx-appName,
  #O365_NavHeader .o365sx-button {
    background-color: #1f2553;
  }

  // #spSiteHeader,
  // #spLeftNav {
  //   display: none;
  // }

}
