@import '~office-ui-fabric-react/dist/sass/References.scss';
@import 'https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800&display=swap';

:global {
  .ControlZone--emphasisBackground {
    background-color: transparent !important;
  }
}

.container {
  font-family: 'Poppins', sans-serif;


  h3 {
    font-size: 20px;
    background-color: #1f2553;
    text-align: center;
    border-radius: 6px;
    color: #fff;
    display: table;
    margin: 0 auto -30px;
    padding: 5px 4%;
    z-index: 999;
    position: relative;
    font-weight: 400;
  }

  ul {
    background-color: #fff;
    display: block;
    padding: 11px 10px;
    // float: left;
    border-radius: 10px;
  }

  ul li {
    list-style-type: none;
    margin: 0 auto;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  ul li img {
    width: 100%;
    max-width: 179px;
    object-fit: fill;
    margin: 0 20px 0 0;
    border-radius: 10px;
  }

  ul li strong {
    font-weight: 400;
    font-size: 14px;
  }

}


.clear {
  clear: both;
}


.loader {
  text-align: center;
  justify-content: center;
}

.error {
  color: #721c24;
  background-color: #f8d7da;
  border: 1px solid #fc9fa9;
  padding: 10px;
  border-radius: 5px;
}
